<IfModule mod_rewrite.c>
    RewriteEngine On

    # Interdire uniquement l'accès DIRECT depuis l'URL
    RewriteRule ^(Controller|Model|config)/.*$ - [L,F]

    # Laisser passer les assets
    RewriteCond %{REQUEST_URI} ^/assets/ [NC]
    RewriteRule ^ - [L]

    # Redirection vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

Options -Indexes
